body form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

body form * {
  margin: auto;
}

body table {
  margin: auto;
  border: solid 1px black;
}

body table * {
  border: solid 1px black;
}
